altgraph==0.17
appdirs==1.4.4
arabic-reshaper==2.1.3
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
auto-py-to-exe==2.7.11
autopep8==1.4.4
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
boto==2.49.0
boto3==1.17.87
botocore==1.20.87
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2019.3.9
cffi==1.14.3
chardet==3.0.4
checksum==1.0.4
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.3
config==0.5.0.post0
cryptography==3.4.7
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.39.1
django-bs4==0.0.4
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-environ==0.4.5
django-froala-editor==3.2.2
django-js-asset==1.0.0
django-storages==1.11.1
django-tinymce==3.3.0
djangorestframework==3.12.4
Eel==0.12.4
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==0.4.17
gunicorn==20.0.4
html5lib==1.1
idna==2.8
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.4.2
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
npm==0.1.1
numpy==1.19.2
oauthlib==3.0.1
opencv-python==4.4.0.42
optional-django==0.1.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.2
parso==0.7.1
pefile==2019.4.18
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.2
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.9
pygame==1.9.6
Pygments==2.7.1
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
PyJWT==2.1.0
pylint==2.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypi==2.1
pyrsistent==0.17.3
python-bidi==0.4.2
python-dateutil==2.8.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
reportlab==3.5.67
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.4.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
soupsieve==2.2.1
sqlparse==0.2.4
stripe==2.27.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.24.2
virtualenv==20.1.0
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whichcraft==0.6.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
zope.event==4.5.0
zope.interface==5.2.0
